h2{
    font-size: 45px;
    margin: 0px 0 15px 0;
}
.all {
    width: 100%;
    height: 100vh;
    background: var(--blanco);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
    flex-direction: column;
}
.all .top{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.all .top .btn{
  width: auto;
  height: 40px;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
}
.all .top .title{
    font-style: 25px !important;
    color: var(--p);
    font-weight: 400;
}
.all .new{
    width: 100%;
    height: auto;
    display: flex;
    margin-bottom: 25px;
}
.all .new .btn{
  width: auto;
  height: 40px;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
}
.table {
  width: 100%;
  table-layout: fixed; /* 👈 Fuerza que todos los anchos se repartan bien */
  border-collapse: collapse;
}

.table th,
.table td {
  width: auto; /* 👈 Usa porcentaje para alinear proporcionalmente */
  padding: 0.75rem;
  border: 1px solid #dee2e6;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.opt {
  display: flex;
  gap: 10px;
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.table-dark {
  background-color: #343a40;
  color: white;
}

.table-dark{
    background-color: #cfcfcf !important;
    color: var(--negro) !important;
}
.table .btn {
  width: auto;
  height: 40px;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
}
.all .pag{
    width: 100%;
}
.all .pag .flex{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    align-items: center;
}
.all .pag .flex .left{
    width: auto;
    display: flex;
}
.all .pag .flex a{
    display: flex;
}
.all .pag .flex .center{
    width: auto;
    display: flex;
    gap: 15px;
}
.all .pag .flex .center .page-item{
    width: 25px !important;
    height: 100%;
    padding: 5px;
    width: auto;
    display: flex;
    gap: 15px;
    cursor: pointer;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 25px;
}
.all .pag .flex .center .page-item:hover{
    background: #cfcfcf;

}
.all .pag .flex .center .page-item .page-link{
    width: auto;
    display: flex;
    gap: 15px;
    cursor: poinrgb(141, 141, 141);
}
